# Default ignored files
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore .class files
*.class
.classpath
.project
.settings/
target/
# Ignore shelf folder and inspectionProfiles folder
/shelf/*
/inspectionProfiles/*
/workspace.xml